@media (max-width: 720px){
    header{
        display: block;
        width: 100%;
    }
    .header{
        font-size: 30px;
    }
    .new_game{
        font-size: 10px;
    }
    container{
        width: 100vw;
        height: 100vw;
    }
}