*{
    font-family: 'Goldman', cursive;
    box-sizing: border-box;
    --container-size--: 600px;
    --border-standard--: 2px hsla(30, 50%, 30%, 100%) solid;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-size: 50px;
    color: white;
    background-color: hsl(10, 50%, 10%);
    margin-bottom: 40px;
}
container{
    margin: auto;
    width:  var(--container-size--);
    height: var(--container-size--);
    display: flex;
    flex-wrap: wrap;
    border: var(--border-standard--);
}
.plate, .logotype{
    display: inline-block;
    width: 20%;
    border: var(--border-standard--);
    background-color: white;
}

.plate__clicked, .plate:hover{
    background-color: hsl(150, 80%, 50%);
}
.plate, .plate:hover, .plate__clicked{
    transition: 350ms ease-in-out;
    
}
.new_game{
    display: block;
    padding: 10px;
    color: white;
    border: var(--border-standard--);
    text-decoration: none;
    background-color:hsl(10, 80%, 50%);
}
.new_game:hover{
    background-color: hsl(110, 50%, 50%);
}
.new_game, .new_game:hover{
 transition: 350ms ease-in-out;
}
